<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.cas.mapper.SysUserMapper">


	<select id="getRolesByUsername" resultType="java.lang.String">
		select r.id
		from sys_role r,
			 sys_user_role ur,
			 sys_user u
		where r.id = ur.role_id
		  and ur.user_id = u.id
		  and r.DEL_FLAG = '0'
          and u.username = #{username}
      </select>


	<select id="getRolesByUserId" resultType="java.lang.String">
		select role_id from sys_user_role where user_id = #{userId}
	</select>
</mapper>
